body {
    color: rgb(white);
    background-color: black;
}
section{
    background-color: rgb(56, 1, 56);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 20px;
}